.input_name{
    font-size: 20px;
}
.input_name::placeholder {
    
    font-family: Arial, sans-serif;
    font-style: italic;
}
.table_name{
    border-collapse: collapse;
    width: 30%;
    padding: 18px;
    text-align: center;
    place-content: center;
    background-color: #333232;
}
